.container-wrapper {
    display: flex;
    justify-content: flex-start;
}

#login-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#login-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

#login-container input {
    display: block;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#login {
    color: rgb(236, 4, 4);
    font-size: small;
}


@media (max-width: 768px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f4f4f4;
    }

    .background-image {
        background-image: url('https://botafogohoje.com.br/sites/default/files/inline-images/desktop-wallpaper-botafogo-futebol.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }

    #login-container {
        margin-top: 15%;
        text-align: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #main-container {
        position: fixed;
        top: 0px;
        width: 100%;
        text-align: center;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #main-container h1 {
        padding: 10px;
        margin: 0;

    }

    #main-container button {
        display: inline;
        width: 90%;
        margin-top: 6px;
        line-height: 30px;
        border-radius: 10px;
    }

    #main-container select {
        height: 50px;
        width: 90%;
        margin-bottom: 5px;
        line-height: 30px;
        border-radius: 10px;
    }

    #main-container option {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        line-height: 30px;
        border-radius: 10px;
    }

    #atletas-container {
        flex-wrap: wrap;
        height: 100%;
        margin-top: 450px;
        justify-content: center;

    }

    #detalhes-container {
        position: fixed;

        width: 100%;
        height: 100%;
        text-align: left;
        background-color: #fff;
    }

    #selecao-seletor-div {
        display: block;
    }

    #selecao-botoes {
        display: none;
    }

    .cartao {
        width: calc(100% - 100px);
        border: 1px solid #ccc;
        padding: 10px;
        margin: 20px;
        text-align:center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .cartao img {
        max-width: 100%;
        height: auto;
        margin-top: 6px;
        margin-bottom: 6px;
        border-radius: 10px;
    }

    .cartao button {
        display: block;
        margin: 6px auto;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 10px;
    }

    #detalhes-container img {
        height: 30%;
        margin-top: 8px;
        border-radius: 10px;
        display: block;
        margin: auto;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
    .background-image {
        background-image: url('https://scontent.fgig4-1.fna.fbcdn.net/v/t1.6435-9/206130869_4134351909978369_6953838749022967093_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=810d5f&_nc_ohc=W-I7Ej_i3PEAX9sDDNQ&_nc_ht=scontent.fgig4-1.fna&oh=00_AfD1rIU2uDvnSTBc2DMJiRdhLguAL7wA8sgmQBtQKYKMkw&oe=658CADCB');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: left;
        align-items: center;
        height: 100vh;
        background-color: #f4f4f4;
    }

    #login-container {
        margin-left: 38%;
        text-align: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #atletas-container {
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
        margin-top: 160px;
        margin-left: 0.1%;

    }

    #selecao-seletor-div {
        display: none;
    }

    #main-container {
        position: fixed;
        top: 0;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #main-container h1 {
        padding: 10px;
        margin: 0;
    }

    #selecao-botoes {
        display: flex;
        align-items: center;
    }

    #main-container button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 10px;
        height: 40px;
        margin-right: 10px;
    }

    #detalhes-container {
        left: 23%;
        position: fixed;
        height: 70%;
        top: 100px;
        width: 52%;
        max-width: 500px;
        text-align: left;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #detalhes-container img {
        max-width: 100%;
        height: 40%;
        max-height: 332px;
        margin-top: 8px;
        border-radius: 10px;
        display: block;
        margin: auto;
    }

    .cartao {
        width: calc(50% - 100px);
        border: 1px solid #ccc;
        padding: 10px;
        margin: 20px;
        text-align:center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .cartao img {
        max-width: 100%;
        height: auto;
        margin-top: 6px;
        margin-bottom: 6px;
        border-radius: 10px;
    }

    .cartao button {
        display: block;
        margin: 6px auto;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 10px;
    }

}

@media (min-width: 1025px) {
    .background-image {
        background-image: url('https://www.botafogo.com.br/estadioniltonsantos/assets/css/img/estadio/7.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
      }

    #login-container {
        margin-left: 15%;
        text-align: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: left;
        align-items: center;
        height: 100vh;
        background-color: #f4f4f4;
    }

    #atletas-container {
        margin-left: 3%;
        flex-wrap: wrap;
        margin-top: 160px;
        width: 100%;
        max-width: 1200px;
        height: 100%;
    }

    #main-container {
        position: fixed;
        top: 0;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #main-container h1 {
        padding: 10px;
        margin: 0;
    }

    #selecao-botoes {
        display: flex;
        align-items: center;
    }

    #selecao-seletor-div {
        display: none;
    }

    #main-container button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 10px;
        height: 40px;
        margin-right: 10px;
    }

    #detalhes-container {
        position: fixed;
        right: 20px;
        top: 100px;
        width: 370px;
        text-align: left;
        border: 1px solid #ccc;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .cartao {
        width: calc(25% - 100px);
        border: 1px solid #ccc;
        padding: 10px;
        margin: 20px;
        text-align:center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .cartao img {
        max-width: 100%;
        height: auto;
        margin-top: 6px;
        margin-bottom: 6px;
        border-radius: 10px;
    }

    .cartao button {
        display: block;
        margin: 6px auto;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 10px;
    }

    #detalhes-container img {
        max-width: 100%;
        height: auto;
        margin-top: 8px;
        border-radius: 10px;
        display: block;
        margin: auto;
    }

}



#detalhes-container button {
    display: block;
    margin: auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.red-text-button {
    color: rgb(230, 70, 70);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}
